* {
  margin: 0;
  padding: 0;
  border: none;
}

.app {
	width: 100%;
	height: 100vh;
	background-color: $primary-color;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&__title {
		@include title-font;
		color: $shade-white;
	}
}